
.btn {
    padding: $default-padding;
    border: none;
    font-size: 1rem;
    color: white;

    &:active {
        transform: scale(0.9);
        transition: 0.1s;
    }
}

a {
    color: #124ec7;

    &:hover {
        color: lighten($color: #124ec7, $amount: 10%)
    }
}

.social-btn {
    display: none;
    position: fixed;
    background-color: rgb(238, 121, 121);
    border-radius: 50%;
    font-size: 1.5rem;
    bottom: $default-padding;
    left: $default-padding;
    padding: $default-padding;
    z-index: 10;

    &:hover {
        color: lighten($color: #124ec7, $amount: 10%);
        background-color: darken($color: rgb(238, 121, 121), $amount: 10%);
    }
}