
footer {
    padding: 0.1rem;
    background-color: rgb(41, 75, 150);
    color: #ccc;

    &>div {
        padding: $default-padding;
    }

    .two {
        padding: 1.2rem;
        // width: 100%;

        .subscribe {
            display: flex;
            width: 90%;
            padding: 0.5rem;
            height: 3rem;
            border-radius: 18rem;
            padding: 0;
            margin: 0.5rem;
            overflow: hidden;

            input {
                width: 80%;
                font-size: 1.2rem;
                padding-left: 1rem;
            }

            button {
                color: black;
                padding: $default-padding;
                width: 20%;
                background-color: #124ec7;
                border: none;
                transition: 0.4s;
                font-size: 1.4rem;
                color: whitesmoke;

                &:hover {
                    background-color: lighten($color: #124ec7, $amount: 15%);
                }
            }
        }

    }

    #three {

        h3 {
            text-align: center;
        }

        ul {
            display: flex;
            list-style-type: none;
            justify-content: space-between;

                li a {
                   color: whitesmoke; 
                }
        }
    }

    #four {
        background-color: darken(rgb(41, 75, 150), 15%);
        text-align: center;
    }
}